:root {
  --darkblue-color: #00204a;
  --grey-color: #2d4059;
  --highlight-color: #ff5722;
  --neutral-color: #eeeeee;
}

body {
  background-color: #000f35;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: 72px;
  color: var(--darkblue-color);
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  color: var(--darkblue-color);
}

p {
  font-family: var(--default-font-family);
  font-size: 18px;
  line-height: 1.5;
}

hr {
  background-color: var(--highlight-color);
  height: 5px;
  margin-top: 0;
  opacity: 0.85;
}

nav {
  padding: 20px;
}

nav li {
  display: inline;
  list-style: none;
}

nav li.active a,
nav a:hover {
  color: var(--highlight-color);
}

nav a {
  text-decoration: none;
  color: var(--neutral-color);
  padding: 1em;
  font-size: 18px;
}

footer {
  text-align: center;
  padding: 10px;
}

footer a.footer-email {
  color: var(--neutral-color);
  font-size: 26px;
  text-decoration: none;
  display: block;
}

.bg-img {
  background-image: url("/images/blue-gradient-background.png");
  background-size: cover;
  background-position: center center;
}

.hero {
  text-align: center;
  padding: 50px 20px 50px 20px;
}

.hero h1,
h2 {
  color: var(--neutral-color);
}

.hero h2 {
  line-height: 2;
}

.btn-branding {
  font-size: 20px;
  color: var(--neutral-color);
  background-color: var(--darkblue-color);
  border: 1px solid var(--highlight-color);
  border-radius: 5px;
  line-height: 1.5;
  padding: 15px 20px;
}

.btn-branding:hover {
  color: var(--highlight-color);
  background-color: var(--neutral-color);
  border: 1px solid var(--highlight-color);
  border-radius: 5px;
}

.btn-branding-outline {
  font-size: 20px;
  color: var(--highlight-color);
  border: 1px solid var(--highlight-color);
  border-radius: 5px;
  line-height: 1.5;
  padding: 15px 20px;
}

.btn-branding-outline:hover {
  background: var(--highlight-color);
  color: var(--neutral-color);
}

.card-section h2 {
  color: var(--neutral-color);
}

.card-body {
  text-align: center;
}

.content-card {
  background-color: var(--neutral-color);
  max-width: 80%;
  margin-top: 50px;
  padding: 50px;
  border-radius: 5px;
  text-align: center;
}

.content-card h1 {
  font-size: 54px;
}

.content-card h2 {
  color: var(--highlight-color);
  font-size: 28px;
}

.content-card p {
  text-align: left;
}

.text-center {
  padding: 30px;
}

.img-fluid {
  border-radius: 5px;
}

.portfolio-hero {
  text-align: center;
}

.portfolio-hero h1 {
  color: var(--neutral-color);
  font-size: 54px;
}

.portfolio-hero p {
  color: var(--neutral-color);
}

.projects {
  color: var(--neutral-color);
}

.contact-hero {
  text-align: center;
}

.contact-hero h1 {
  color: var(--neutral-color);
  font-size: 54px;
}

.contact-hero h2 {
  color: var(--neutral-color);
  font-size: 28px;
}

.contact-grid {
  background-color: var(--highlight-color);
  border-radius: 5px;
  text-align: center;
}

.contact-grid .card {
  padding: 10px;
}

.contact-grid a {
  text-decoration: none;
  color: var(--darkblue-color);
}

.contact-grid a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  h1 {
    font-size: 54px;
  }
  h2 {
    font-size: 25spx;
  }

  h3 {
    font-size: 22px;
  }

  nav li {
    display: block;
    text-align: center;
  }

  footer a.footer-email {
    font-size: 22px;
  }

  .hero {
    padding: 75px 10px;
  }

  .card {
    max-width: 75%;
    height: auto;
    margin: 0 auto;
  }

  .about-hero {
    text-emphasis: center;
    max-width: 90%;
    padding: 20px;
  }

  .about-hero h1 {
    font-size: 40px;
  }

  .about-hero h2 {
    font-size: 22px;
  }
}
